.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: gray;
  font-weight: 700;
  text-align: center;
  padding: 0;
  border: 1px solid black;
}
.input:disabled {
  font-weight: 700;
  color: black;
}
table {
  border-collapse: collapse;
  border: 2px solid;
}
td {
  padding: 0;
}
.buttonsContainer {
  margin-top: 30px;
  cursor: pointer;
}
.Check {
  font-size: 20px;
  background-color: #3cb371;
  padding: 15px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

.borderRow {
  border-top: 2px solid;
}
.borderCol {
  border-left: 2px solid;
}
