.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: gray;
  font-weight: 700;
  text-align: center;
  padding: 0;
  border: 1px solid black;
}
.input:disabled {
  font-weight: 700;
  color: black;
}
table {
  border-collapse: collapse;
  border: 2px solid;
}
td {
  padding: 0;
}
.buttons-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.buttons-container button {
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

.check-button {
  background-color: #3cb371;
}
.clear-button {
  background-color: #ff7f50;
}

.borderRow {
  border-top: 2px solid;
}
.borderCol {
  border-left: 2px solid;
}

.messages {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
}

.complited {
  color: #3cb371;
}
.error {
  color: crimson;
}
